@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap');
.App {
    text-align: center;
    background-color: hsl(218, 23%, 16%);
    height: 100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Manrope', sans-serif;
}

.container {
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
    background-color: hsl(217, 19%, 24%);
    border-radius: 20px;
    width: 480px;
    height: 300px;
}

.advice-number {
    font-size: 13px;
    letter-spacing: 5px;
    color: hsl(150, 100%, 66%);
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 20px;
}

.advice-quote {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 800;
    color: hsl(193, 38%, 86%);
    margin: 0 20px;
}

.advice-wrap {
    height: 160px;
}

button {
    background-color: hsl(150, 100%, 66%);
    height: 60px;
    width: 60px;
    line-height: 75px;
    border-radius: 50%;
    border: none;
    margin-top: 25px;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 30px hsl(150, 100%, 66%);
    text-shadow: 0 0 5px hsl(150, 100%, 66%);
}

button:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px hsl(150, 100%, 66%);
}